* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --navbar: rgb(241 245 249);
    --sidebar:   skyblue;
    --content: rgb(203 213 225);
    --aHover: rgb(14,165,233);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container .sidebar {
    width: 20%;
    height: 100vh;
    background-color: var(--sidebar);
}
.container .sidebar .logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .sidebar ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 40px;
}
.container .sidebar ul li {
    list-style: none;
}
.container .sidebar ul li:last-child{
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.container .sidebar ul li a {
    text-decoration: none;
}

.container .row {
    width: 80%;
    height: 100vh;
    background-color: var(--content);
}
.container .row .navbar {
    width: 100%;
    height: 50px;
    background-color: var(--navbar);
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.container .row .navbar .user {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.container .row .navbar .user span {
    font-size: 13px;
}
.container .row .navbar .user img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.container .row .content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
    padding-bottom: 100px;
}
form.delete-form {
    display: inline;
}
a.btn, button.btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    border: none;
    margin-top: 5px;
}
.btn-tambah {
    background-color: skyblue;
    margin-top: 20px;
}
.btn-edit {
    background-color: skyblue;
}
.btn-delete {
    background-color: orangered;
}
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
}
table.full {
    width: 90%;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f9f9f9;
}

/* Data User */

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 250px;
}

input:focus, select:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Data Buku */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Data Role */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Kategori */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Status */

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Submit button */
.btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

#myBook .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
    gap: 15px;
}

#myBook .container .card {
    background-color: var(--aHover);
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
}
#myBook .container .card .image {
    height: 50%;
    display: flex;
    justify-content: center;
}

/* #myBook .container .card .detail {
    height: 40%; 
} */

#myBook .container .card .image img {
    width: 150px;
    object-fit: cover;
}

#myBook .container .card .detail .judul {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
#myBook .container .card .detail .kembali {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: orangered;
}

#myBook .container .card .detail ul {
    margin-top: 10px;
}
#myBook .container .card .detail ul li {
    list-style: none;
    margin-top: 8px;
    font-size: 15px;
}

#myBook .container .card .button {
    position: relative;
    width: 100%;
    /* margin-top: -80px; */
}

#myBook .container .card .button .kembalikan {
    background-color: orangered;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}

.file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #ddd;
    color: #333333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.file-upload:hover {
    background-color: #ddd;
}
.file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.preview-container {
    margin: 20px 0;
}
.preview-container img {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}
.hapusProfile {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    border: none;
    background: orangered;
    padding: 5px;
    color: white;
    font-size: 13px;
    border-radius: 15px;
    cursor: pointer;
}