* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: rgb(241 245 249);
    --bg2: #bfdbfe;
    --text: rgb(15 23 42);
    --textPlaceholder: rgba(15,23,42,0.7);
    --nav: rgb(241 245 249);
    --aHover: rgb(14,165,233);
    --shadow: rgba(0, 0, 0, 0.2);
    --textWhite: rgb(241 245 249);
    --linearSocial: linear-gradient(135deg, #C597FF, #797fff, #C597FF);
    --iconAbout: #C597FF;
    --glassBg: rgba(255,255,255,0.1);
    --borderGlass: rgba(0,0,0,0.3);
    --maskGambar: linear-gradient(
    to right,
    transparent,
    #000 7% 93%,
    transparent
    );
    --inputHeight: 40px;
    --textareaHeight: 100px;
    --darkAHoveer: rgb(15 23 42);
    --error: rgb(239 68 68);
  }

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: var(--nav);
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 5px 5px 5px var(--shadow);
    
}

.navbar .link a {
    text-decoration: none;
    margin-right: 10px;
}

.navbar .link a:hover {
    color: #000;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.navbar .link2 a {
    text-decoration: none;
    background-color: var(--buttonbg);
    padding: 6px 10px;
    margin-right: 10px;
}

.navbar .link2 a:hover {
    color: #000;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.navbar .link2 a.user {
    padding: 0px;
}
.navbar .user {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.user span {
    font-size: 16px;
}
.navbar .user img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px;
}

section {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: var(--bg);
    padding: 60px 30px 30px 30px ;
    background-color: var(--bg2);
}

#home .kotak1 {
    width: 40%;
}
#home .kotak2 {
    width: 60%;
}
#home .kotak2 img {
    width: 100%;
}

/* ABOUT STYLE */

#about {
    background-color: var(--bg);
    padding: 0 30px ;
}

#about .container {
    flex-direction: row-reverse;
}

#about h1 {
    text-align: center;
    padding-top: 30px; 
}

#about .kotak1 {
    width: 40%;
}
#about .container .kotak1 h3 {
    margin-bottom: 20px;
    text-align: center;
}
#about .kotak2 {
    width: 60%;
}
#about .kotak2 img {
    width: 100%;
}

/* Best Seller */

#bestSeller {
    background-color: var(--bg2);
}
#bestSeller.list_buku {
    padding-top: 80px;
}

#bestSeller h1 {
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 30px; 
    padding: a ka b ki; */
    padding: 30px 0 40px 0;
}

#bestSeller.list_buku h1 {
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 30px; 
    padding: a ka b ki; */
    padding: 30px 0 15px 0;
}

#bestSeller .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 30px;
    gap: 15px;
}

#bestSeller .container .card {
    background-color: var(--aHover);
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
}
#bestSeller .container .card .image {
    height: 60%;
    display: flex;
    justify-content: center;
}

#bestSeller .container .card .detail {
    height: 40%;
}

#bestSeller .container .card .image img {
    width: 150px;
    object-fit: cover;
}

#bestSeller .container .card .detail .judul {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

#bestSeller .container .card .detail ul {
    margin-top: 10px;
}
#bestSeller .container .card .detail ul li {
    list-style: none;
    margin-top: 8px;
    font-size: 15px;
}

#bestSeller .container .card .button {
    position: relative;
    width: 100%;
    height: 50px;
}

#bestSeller .container .card .button .buy {
    background-color: var(--bg2);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
}
#bestSeller .selengkapnya {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#bestSeller .selengkapnya a {
    background-color: var(--aHover);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 12px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: var(--text);
}

#contact {
    background-color: var(--bg);
}

#contact h1 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

#contact .contact-content {
    background-color: #b0d1e2;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

#contact .contact-content input,
#contact .contact-content textarea {
    padding: 10px 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 12px;
}

#contact .contact-content label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: pointer;
}

#contact .contact-content input:focus,
#contact .contact-content textarea:focus {
    outline: .5px solid rgb(225, 124, 183);
}

#contact .contact-content button {
    border-radius: 50px;
    margin: auto;
    width: 100px;
    border: none;
    padding: 10px;
    transition: all .5s ease-in-out;
}

#contact .contact-content button:hover {
    background-color: skyblue;
    border: .5px solid rgb(225, 124, 183);
    cursor: pointer;
}

#footer {
    background-color: var(--bg);
    padding: 20px 0;
}

#footer .kontak {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#footer .kontak .kontak1 p {
    margin-top: 10px;
}

#footer .kontak .kontak2 a {
    border: 1px solid #000;
    margin-right: 10px;
    padding: 7px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease-in-out;
}

#footer .kontak .kontak2 a:hover {
  background-color: var(--nav);
  color: #000;
}


#footer .kontak .kontak2 h3{
    margin-bottom: 10px;
}

#footer .copyright {
    text-align: center;
    font-size: 12px;
    border-top: 1.5px solid var(--colorcardborder);
    padding-top: 15px;
}

.list_buku form {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.list_buku input {
    width: 400px;
}
.list_buku input, .list_buku select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.list_buku input:focus, .list_buku select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.list_buku .btn-submit {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list_buku .btn-submit:hover {
    background-color: #0056b3;
}